<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kingfisher_gps_gazebo" params="name">
    <gazebo>
      <plugin name="gps_plugin_${name}" filename="libhector_gazebo_ros_gps.so">
	<updateRate>1.0</updateRate>
	<alwaysOn>true</alwaysOn>
	<bodyName>base_link</bodyName>
	<frameId>usv/base_link</frameId> <!-- added usv/ -->
	<topicName>gps/fix</topicName>
	<velocityTopicName>fix_velocity</velocityTopicName>

	<referenceLatitude>36.6</referenceLatitude>
	<referenceLongitude>-121.9</referenceLongitude>
	<referenceAltitude>10.0</referenceAltitude>

	<offset>0.0 0.0 0.0</offset>
	<drift>0.0 0.0 0.0</drift>
	<gaussianNoise>0.1 0.1 0.1</gaussianNoise>

	<velocityOffset>0.0 0.0 0.0</velocityOffset>
	<velocityDrift>0.0 0.0 0.0</velocityDrift>
	<velocityGaussianNoise>0.0 0.0 0.0</velocityGaussianNoise>

      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
