<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kingfisher_imu_gazebo" params="name">
    <gazebo>
      <!-- Either plugin should work -->
      <!--<plugin name="imu_plugin_${name}" filename="libgazebo_ros_imu.so">-->
      <plugin name="imu_plugin_${name}" filename="libhector_gazebo_ros_imu.so">
	<updateRate>10.0</updateRate>
	<bodyName>base_link</bodyName>
	<topicName>imu/data</topicName>
	<serviceName>imu_service</serviceName>
	<frame_id>odom</frame_id>
	<alwaysOn>true</alwaysOn>

	<accelOffset>0.0 0.0 0.0</accelOffset>
	<accelDrift>0.0 0.0 0.0</accelDrift>
	<accelDriftFrequency>0.00027 0.00027 0.000027</accelDriftFrequency>
	<accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise>

	<rateOffset>0.0 0.0 0.0</rateOffset>
	<rateDrift>0.0 0.0 0.0</rateDrift>
	<rateDriftFrequency>0.00027 0.00027 0.000027</rateDriftFrequency>
	<rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>

	<yawOffset>0.0</yawOffset>
	<yawDrift>0.0</yawDrift>
	<yawDriftFrequency>0.00027</yawDriftFrequency>
	<yawGaussianNoise>0.0</yawGaussianNoise>

      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
