<?xml version="1.0"?>
<!-- Modified to minimize inertia terms
Brian Bingham
Jan, 2017
Original copyright below-->

<!--
Copyright (c) 2012, Clearpath Robotics 
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Clearpath Robotics nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

This program contains the description of the robot base model for the Clearpath Kingfisher
-->

<robot name="kingfisher" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find kingfisher_description)/urdf/materials.urdf.xacro" />
  <!-- Replace original Kingfisher file with new one with minimial inertia-->
  <xacro:include filename="$(find kingfisher_gazebo)/urdf/parts.mininertia.urdf.xacro" />
  
  <!-- PROPERTY LIST -->
  <!--All units in m-kg-s-radians unit system -->
  <property name="M_PI" value="3.1415926535897931" />
  <property name="HH" value="0.09" />
  <!-- BASE-FOOTPRINT -->
  <!-- base_fotporint is a fictitious link(frame) that is on the ground right below base_link origin, navigation stack depends on this frame -->
  <link name="base_footprint">
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 ${HH} " />
      <inertia ixx="1e-6" ixy="0.0" ixz="0.0"
	       iyy="1e-6" iyz="0.0" 
	       izz="1e-6" />
    </inertial>
    
    <visual>
      <origin xyz="0 0 ${HH}" rpy="0 0 0" />
      <geometry>
	<box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>
  
  <gazebo reference="base_footprint">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  
  <!-- BASE-LINK -->
  <!--Actual body/chassis of the robot-->
  <link name="base_link">
    <inertial>
      <mass value="29" />
      <!--This is the pose of the inertial reference frame, relative to the link reference frame. The origin of the inertial reference frame needs to be at the center of gravity. The axes of the inertial reference frame do not need to be aligned with the principal axes of the inertia.-->
      <origin xyz="0 0 ${HH}" />
      <!--The 3x3 rotational inertia matrix. Because the rotational inertia matrix is symmetric, only 6 above-diagonal elements of this matrix are specified here, using the attributes ixx, ixy, ixz, iyy, iyz, izz.-->
      <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10" /> 
    </inertial>
        
    <visual>
      <origin xyz="0 0 ${HH}" rpy="${M_PI/2} 0 ${M_PI/2}" />
      <geometry>
	<mesh filename="package://kingfisher_description/meshes/kingfisher_base.stl" />
      </geometry>
      <material name="DarkGray" />
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<box size = "1.35 0.98 0.2"/> <!--making it slightly bigger in x and z direction-->
      </geometry>
    </collision>     
  </link>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 ${HH}" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>
  <gazebo reference="base_link">
    <material>Gazebo/FlatBlack</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  

  <!-- PANEL-LINKS -->
  <!-- Top Plate -->
  <kingfisher_part parent="base_footprint" name="left_panel" mesh="left_panel" 
		   translateX="0.0" translateY="-0.35" translateZ="${0.05+HH*2}" 
		   rotateX="${M_PI/2}" rotateY="0.0" rotateZ="${M_PI/2}"
		   color="Yellow" />
  <gazebo reference="base_footprint_left_panel_part">
    <material>Gazebo/Yellow</material>
  </gazebo>
  
  <kingfisher_part parent="base_footprint" name="right_panel" mesh="right_panel" 
		   translateX="0.0" translateY="0.35" translateZ="${0.05+HH*2}" 
		   rotateX="${M_PI/2}" rotateY="0.0" rotateZ="${-M_PI/2}"
		   color="Yellow" />
  <gazebo reference="base_footprint_right_panel_part">
    <material>Gazebo/Yellow</material>
  </gazebo>
        
  <xacro:property name="camera_link" value="0.05" /> <!-- Size of square 'camera' box -->

   <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${camera_link} 0 1" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <!-- Camera -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${camera_link} ${camera_link} ${camera_link}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${camera_link} ${camera_link} ${camera_link}"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <!-- camera -->
  <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</robot>
